.top-mine
  .category-list2
    =link_to "HEROINE",root_path, class: "title2"
    %header#top-header2
      %ul
        %li
          %br コミュニティ
          =link_to "#", class: "menu2" do
            Community
        %li 
          %br キャリア
          =link_to "#", class: "menu2" do
            Career 
        %li
          %br ジェンダー
          =link_to "#", class: "menu2" do
            Gender 
        %li 
          %br 管理職
          =link_to "#", class:"menu2" do
            Leader  
        %li 
          %br ワークスタイル
          =link_to "#", class: "menu2" do
            WorkStyle 
        %li 
          %br スキル
          =link_to "#", class: "menu2" do
            Skill 
        %li 
          %br 子育て
          =link_to "#", class: "menu2" do
            Child
        %li 
          %br 結婚
          =link_to  "#", class: "menu2" do
            Marriage