.wrapper
  .top-mine
    .hamburger      
      .hamburger-btn
        %span
        %span
        %span
      %nav.global-nav
        %ul.menu 
          -if user_signed_in? && current_user.id 
            %li
              =link_to "Logout", destroy_user_session_path, method: :delete, class: "menu-list"
            %li 
              =link_to "Setup", "#", class: "menu-list"
            %li 
              =link_to "Counseling", new_counseling_path, class: "menu-list"
          -else 
            %li
              =link_to "SIGNUP 〜ログイン〜", new_user_registration_path, class: "menu-list"
            %li 
              =link_to "SIGNIN 〜新規登録〜", new_user_session_path, class: "menu-list"
.main-counselings
  .top-mine
    =link_to "HEROINE",root_path, class: "title2"
  %header#top-header 
    .message みんなの悩み、みてみよう。
    %ul
      %li
        %br 人間関係
        =link_to "#", class: "menu" do
          Human
      %li 
        %br キャリア
        =link_to "#", class: "menu" do
          Career 
      %li
        %br 性別
        =link_to "#", class: "menu" do
          Gender 
      %li 
        %br 起業
        =link_to "#", class:"menu" do
          Business 
      %li 
        %br ワークスタイル
        =link_to "#", class: "menu" do
          WorkStyle 
      %li 
        %br スキル
        =link_to "#", class: "menu" do
          Skill 
      %li 
        %br 子育て
        =link_to "#", class: "menu" do
          Child
      %li 
        %br 結婚
        =link_to  "#", class: "menu" do
          Marriage
      %li 
        %br リーダー
        =link_to "#", class: "menu" do
          Leader 
      %li 
        %br 昇進
        =link_to  "#", class: "menu" do
          Promotion 
      %li 
        %br その他
        =link_to "#", class: "menu" do
          Other 
.slide-counseling
  .slide-counseling_ul
    - @counseling.each do |counseling|
      =link_to " /counselings/#{counseling.id}", method: :get, class: "lists" do
        =image_tag "image5.jpg", width: "100%", height: "150px"
        .counseling-text
          = counseling.text
        .counseling-name
          = counseling.user.name
.wrapper 
  = render "messages/footer"
  