.main-counselings
  %header#top-header 
    .message みんなの悩み、みてみよう。
    %ul
      %li
        %br 人間関係
        =link_to "#", class: "menu" do
          Human
      %li 
        %br キャリア
        =link_to "#", class: "menu" do
          Career 
      %li
        %br 性別
        =link_to "#", class: "menu" do
          Gender 
      %li 
        %br 起業
        =link_to "#", class:"menu" do
          Business 
      %li 
        %br ワークスタイル
        =link_to "#", class: "menu" do
          WorkStyle 
      %li 
        %br スキル
        =link_to "#", class: "menu" do
          Skill 
      %li 
        %br 子育て
        =link_to "#", class: "menu" do
          Child
      %li 
        %br 結婚
        =link_to  "#", class: "menu" do
          Marriage
      %li 
        %br リーダー
        =link_to "#", class: "menu" do
          Leader 
      %li 
        %br 昇進
        =link_to  "#", class: "menu" do
          Promotion 
      %li 
        %br その他
        =link_to "#", class: "menu" do
          Other 
  .slide-counseling
    - @counseling.each do |counseling|
      =link_to "#{counseling.text}", " /counselings/#{counseling.id}", method: :get

  