.top-mine
  .hamburger
    %p.hamburger-btn
      %span
      %span
      %span
    %nav.global-nav
      %ul.menu
        %li 
          =link_to "仕事","#", class: "menu-list"
        %li 
          =link_to "恋愛","#", class: "menu-list"
        %li 
          =link_to "結婚","#", class: "menu-list"
        %li 
          =link_to "子育て","#", class: "menu-list"
        %li 
          =link_to "お金","#", class: "menu-list"
        %li 
          =link_to "人間関係","#", class: "menu-list"
        %li 
          =link_to "ライフスタイル","#", class: "menu-list"
  .slideshow
    .slideshow-slides
      = image_tag "image1.jpg", width:"700", height:"800"
      = image_tag "image2.jpg", width:"700", height:"800"
      = image_tag "image3.jpg", width:"700", height:"800"
    %header#top-header 
      %p.title HEROINE
      %ul
        %li
          =link_to "CONCEPT","#", class: "menu-list"
        %li 
          =link_to "COUNSELING","#", class: "menu-list"
        %li 
          =link_to "MOVIE","#", class: "menu-list"
        %li 
          =link_to "BOOK","#", class: "menu-list"
        %li 
          =link_to "NEWS","#", class: "menu-list"
        %li 
          =link_to "TREND","#", class: "menu-list"
        

