.bottom-main
  .news1
    .news1-list
      %li.slick
        =link_to "#", class: "new-news" do
          =image_tag "image1.jpg" 
          .news-message
            %p 働き女子必見ニュース！osusume
        =link_to "#", class: "new-news" do
          =image_tag "image2.jpg"
          .news-message
            %p 働き女子必見ニュース！osusume
        =link_to "#", class: "new-news" do
          =image_tag "image3.jpg"
          .news-message
            %p 働き女子必見ニュース！osusume
        =link_to "#", class: "new-news" do
          =image_tag "image4.jpg"
          .news-message
            %p 働き女子必見ニュース！osusume
        =link_to "#", class: "new-news" do
          =image_tag "image5.jpg"
          .news-message
            %p 働き女子必見ニュース！osusume
  .news2
    .news2-lists.fade
      %p.news-title
        New Articles
      %hr
      %ul.news-box
        %li
          =link_to "#" do
            .effect-scale
              .effect-color
                =image_tag "image1.jpg",class: "news"
                .news-message
                  .news-message_text プロのメイクアーティストがかんたんで可愛い!時短10分で出来ちゃうメイク術を紹介します！！
        %li
          =link_to "#" do
            .effect-scale
              .effect-color
                =image_tag "image1.jpg",class: "news"
                .news-message
                  .news-message_text プロのメイクアーティストがかんたんで可愛い!時短10分で出来ちゃうメイク術を紹介します！！
        %li
          =link_to "#" do
            .effect-scale
              .effect-color
                =image_tag "image1.jpg",class: "news"
                .news-message
                  .news-message_text プロのメイクアーティストがかんたんで可愛い!時短10分で出来ちゃうメイク術を紹介します！！
      %ul.news-box
        %li
          =link_to "#" do
            .effect-scale
              .effect-color
                =image_tag "image1.jpg",class: "news"
                .news-message
                  .news-message_text プロのメイクアーティストがかんたんで可愛い!時短10分で出来ちゃうメイク術を紹介します！！
        %li
          =link_to "#" do
            .effect-scale
              .effect-color
                =image_tag "image1.jpg",class: "news"
                .news-message
                  .news-message_text プロのメイクアーティストがかんたんで可愛い!時短10分で出来ちゃうメイク術を紹介します！！
        %li
          =link_to "#" do
            .effect-scale
              .effect-color
                =image_tag "image1.jpg",class: "news"
                .news-message
                  .news-message_text プロのメイクアーティストがかんたんで可愛い!時短10分で出来ちゃうメイク術を紹介します！！
      %li.more
        =link_to "#" do
          More...
    .ranking-lists.fade
      %p Daily Ranking
      %hr
      %li
        %span.rank 1
        =link_to "#", class: "ranking-lists_1" do
          .news_image
            =image_tag "image1.jpg"
          %p  プロのメイクアーティストがかんたんで可愛い!時短10分で出来ちゃう   
      %li
        %span.rank 2
        =link_to "#", class: "ranking-lists_1" do
          .news_image
            =image_tag "image1.jpg"
          %p  プロのメイクアーティストがかんたんで可愛い!時短10分で出来ちゃう  
      %li
        %span.rank 3
        =link_to "#", class: "ranking-lists_1" do
          .news_image
            =image_tag "image1.jpg"
          %p  プロのメイクアーティストがかんたんで可愛い!時短10分で出来ちゃう  
      %li
        %span.rank 4
        =link_to "#", class: "ranking-lists_1" do
          .news_image
            =image_tag "image1.jpg"
          %p  プロのメイクアーティストがかんたんで可愛い!時短10分で出来ちゃう  
      %li
        %span.rank 5
        =link_to "#", class: "ranking-lists_1" do
          .news_image
            =image_tag "image1.jpg"
          %p  プロのメイクアーティストがかんたんで可愛い!時短10分で出来ちゃう          