.bottom-main
  .counseling.fade#counseling 
    %p.title COUNSELING
    %hr
  .news.fade#news
    %p.title NEWS 
    %p.message ”知識”はあなたの味方になる。
    %hr
    %p.sabtitle-en NEW 
    %p.sabtitle-ja  〜 新規記事 〜
    .news-list.fade
      %li.slick
        =link_to "#", class: "new-news" do
          =image_tag "image1.jpg"
        =link_to "#", class: "new-news" do
          =image_tag "image2.jpg"
        =link_to "#", class: "new-news" do
          =image_tag "image3.jpg"
      
    .news-lists
      %p.sabtitle-en1 POPULAR
      %p.sabtitle-ja1 〜 人気記事 〜
      %ul.news-box.fade
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image1.jpg"),"#", class: "news"
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image2.jpg"),"#", class: "news"
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image3.jpg"),"#", class: "news"
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image1.jpg"),"#", class: "news"
      %p.sabtitle-en2 RECOMMENDED
      %p.sabtitle-ja2  〜 あなたにおすすめの記事 〜
      %ul.news-box.fade
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image1.jpg"),"#", class: "news"
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image2.jpg"),"#", class: "news"
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image3.jpg"),"#", class: "news"
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image1.jpg"),"#", class: "news"
  .movie.fade#movie
    %p.title MOVIE
    %p.message 
    %hr
    %p.sabtitle-en RECOMMENDED 
    %p.sabtitle-ja  〜 こちらの動画、あなたにオススメ 〜
    .movie-list.fade
      %li.slick
        =link_to "#", class: "new-news" do
          =image_tag "image1.jpg"
        =link_to "#", class: "new-news" do
          =image_tag "image2.jpg"
        =link_to "#", class: "new-news" do
          =image_tag "image3.jpg"
    .movie-lists
      %p.sabtitle-en1 POPULAR
      %p.sabtitle-ja1  〜 人気動画 〜
      %ul.movie-box.fade
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image1.jpg"),"#", class: "movie"
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image2.jpg"),"#", class: "movie"
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image3.jpg"),"#", class: "movie"
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image1.jpg"),"#", class: "movie"
  .book.fade#book
    %p.title BOOK
    %p.message 
    %hr
    %p.sabtitle-en RECOMMENDED
    %p.sabtitle-ja  〜 こちらの本、あなたにオススメ 〜
    .book-list.fade
      %li 
        =link_to "", "#"
    .book-lists
      %p.sabtitle-en1 POPULAR
      %p.sabtitle-ja1  〜 人気書籍 〜
      %ul.movie-box.fade
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image1.jpg"),"#", class: "book"
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image2.jpg"),"#", class: "book"
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image3.jpg"),"#", class: "book"
        %li
          .effect-scale
            .effect-color
              =link_to image_tag( "image1.jpg"),"#", class: "book"