.top-mine
  .hamburger      
    .hamburger-btn
      %span
      %span
      %span
    %nav.global-nav
      %ul.menu 
        -if user_signed_in? && current_user.id 
          %li
            =link_to "LOGOUT", destroy_user_session_path, class: "menu-list"
          %li 
            =link_to "SETUP", "#", class: "menu-list"
        -else 
          %li
            =link_to "SIGNUP", new_user_registration_path, class: "menu-list"
          %li 
            =link_to "SIGNIN", new_user_session_path, class: "menu-list"
  .search_form
    =form_for "#" do |f|
      =f.text_field :id, placeholder: "Search", class: "text_field" 
      =button_tag "#",type: 'submit', class: "button" do
        .icon
          =icon("fas", "search")
  .category-list
    %p.title HEROINE
    %header#top-header 
      %ul
        %li
          %br コミュニティ
          =link_to "#", class: "menu" do
            Community
        %li 
          %br キャリア
          =link_to "#", class: "menu" do
            Career 
        %li
          %br ジェンダー
          =link_to "#", class: "menu" do
            Gender 
        %li 
          %br 管理職
          =link_to "#", class:"menu" do
            Leader  
        %li 
          %br ワークスタイル
          =link_to "#", class: "menu" do
            WorkStyle 
        %li 
          %br スキル
          =link_to "#", class: "menu" do
            Skill 
        %li 
          %br 子育て
          =link_to "#", class: "menu" do
            Child
        %li 
          %br 結婚
          =link_to  "#", class: "menu" do
            Marriage
    .share
      %p Share
      %ul
        %li 
          =link_to "https://twitter.com" do |f|
            =icon("fab","twitter", class: "twitter")
        %li 
          =link_to "https://www.facebook.com/" do |f|
            =icon("fab","facebook", class: "facebook")
        %li 
          =link_to "https://www.instagram.com" do |f|
            =icon("fab","instagram", class: "instagram")
