html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.box {
  display: block;
}

@mixin size($height, $width, $padding) {
  height: $height;
  width: $width;
  padding: $padding;
}

@mixin color($backgroundcolor, $color) {
  background-color: $backgroundcolor;
  color: $color;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.wrapper {
  height: 100%;
  width: 100%;
  animation: fadeIn 5s ease 0s 1 normal;
  -webkit-animation: fadeIn 5s ease 0s 1 normal;
  .top-mine {
    margin-bottom: 70px;
    .slideshow {
      height: 800px;
      min-width: 960px;
      overflow: hidden;
      position: relative;
      z-index: 1;
      &-slides {
        height: 100%;
        width: 100%;
        position: absolute;
        img {
          display: none;
          object-fit: cover;
          position: absolute;
          right: 100px;
          margin-left: -800px;
        }
      }
      #top-header {
        padding: 40px;
        width: 100%;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        line-height: 60px;
        .title {
          font-family: 'Alegreya Sans SC', sans-serif;
          color: #262626;
          font-size: 2rem;
          position: absolute;
          left: 6%;
          top: 7%;
        }
        ul {
          font-family: 'Alegreya Sans SC', sans-serif;
          display: flex;
          position: absolute;
          left: 16%;
          top: 8%;
          .menu-list {
            color: #262626;
            margin-left: 40px;
            text-decoration: none;
          }
          .menu-list:hover {
            text-decoration:underline;
            color: #a8a8a8;
          }
        }
      }
      #top-header.scrolled {
        background: rgba($color: #000000, $alpha: 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        .menu-list, .title {
          color: white;
        }
      }
    }
    .hamburger {
      nav {
        height: 100%;
        width: 100%;
        background: rgba($color: #000000, $alpha: 0.5);
        position: fixed;
        top: 0;
        z-index: 2;
        transform: translateY(-100%);
        transition: all 1.0s;
        text-align: center;
        ul {
          width: 100%;
          position: absolute;
          top: 30%;
          li {
            
            margin-bottom: 30px;
            .menu-list {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
      nav.global-nav.active {
        transform: translateY(0%);
      }
      .hamburger-btn {
        display: block;
        position: fixed;
        z-index: 3;
        right: 20px;
        top: 12px;
        width: 38px;
        height: 42px;
        cursor: pointer;
        span {
          display: block;
          position: absolute;
          left: 6px;
          border-bottom: solid 3px #000;
          -webkit-transition: .45s ease-in-out;
          -moz-transition: .45s ease-in-out;
          transition: .45s ease-in-out;
        }
        span:nth-child(1) {
          top: 9px;
          width: 30px;
        }
        span:nth-child(2) {
          top: 18px;
          width: 25px;
        }
        span:nth-child(3) {
          top: 27px;
          width: 27px;
        }
      }
      .hamburger-btn.active span:nth-child(1) {
        top: 18px;
        left: 6px;
        width: 30px;
        border-bottom: solid 3px white;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      .hamburger-btn.active span:nth-child(2), .hamburger-btn.active span:nth-child(3) {
        top: 18px;
        width: 30px;
        border-bottom: solid 3px white;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  .bottom-main {
    @include size(100%, 100%, 0);
    .fade {
      opacity : 0;
      transform : translate(0, 100px);
      transition : all 1s;
    }
    .fade.fade-up{
      opacity : 1;
      transform : translate(0, 0);
    }
    .title {
      font-family: 'Alegreya Sans SC', sans-serif;
      color: #404040;
      font-size: 1.6rem;
      margin-left: 70px;
      float: left;
    }
    .message {
      float: right;
      position: relative;
      margin-right: 20px;
      font-family: 'HCo Gotham', sans-serif;
      font-size: 0.8rem;
      color: #404040;
    }
    hr {
      width: 95%;
      margin-right: 0;
    }
    .counseling {
      @include size(700px, 100%, 0);
     
    }
    .news {
      position: relative;
      p.sabtitle-en {
        font-family: 'Alegreya Sans SC', sans-serif;
        color: #404040;
        font-size: 1.2rem;
        position: absolute;
        left: 70px;
        top: 50px;
      }
      p.sabtitle-ja {
        font-family: 'HCo Gotham', sans-serif;
        color: #404040;
        font-size: 0.8rem;
        position: absolute;
        left: 120px;
        top: 50px;
      }
      &-list {
        @include size(300px, 100%, 0);  
        margin-bottom: 70px;
        .title {
          font-family: 'Alegreya Sans SC', sans-serif;
          color: #404040;
          position: absolute;
          left: 70px;
          top: 50px;
        }
        li {
          @include size(100%, 95%, 0);
          border: 1px solid #a1a1a1;
          margin: auto;
          margin-top: 50px;
          border-radius: 10px;
          list-style: none;
        }
      } 
      .news-lists {
        height: 100%;
        p.sabtitle-en1 {
          font-family: 'Alegreya Sans SC', sans-serif;
          color: #404040;
          font-size: 1.2rem;
          position: absolute;
          left: 130px;
          top: 415px;
        }
        p.sabtitle-ja1 {
          font-family: 'HCo Gotham', sans-serif;
          color: #404040;
          font-size: 0.8rem;
          position: absolute;
          left: 220px;
          top: 415px;
        }
        p.sabtitle-en2 {
          font-family: 'Alegreya Sans SC', sans-serif;
          color: #404040;
          font-size: 1.2rem;
          position: absolute;
          left: 130px;
          bottom: 520px;
        }
        p.sabtitle-ja2 {
          font-family: 'HCo Gotham', sans-serif;
          color: #404040;
          font-size: 0.8rem;
          position: absolute;
          left: 270px;
          bottom: 520px;
        }
        .news-box {
          height: 500px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          max-width: 1200px;
          margin: auto;
          li {
            @include size(400px, 280px, 0);
            border-radius: 10px;
            border: 1px solid #a1a1a1;
          }
          .effect-scale {
            overflow: hidden;
            border-radius: 10px 10px 0 0 / 10px 10px 0 0;
            .effect-color {
            background: linear-gradient(to top, #91c2f0 0%, #fcfafa 0%, #c9ffbf 100%);
            img {
              @include size(100%, 100%, 0);
              object-fit: cover;
              border-radius: 10px 10px 0 0 / 10px 10px 0 0;
              opacity: 1;
              transform: scale(1);
              -webkit-transition: .3s ease-in-out;
              transition: .3s ease-in-out;
            }
            img:hover {
              opacity: .9;
              transform: scale(1.1);
            }
           }
         } 
        }
      }
    }
    .movie {
      title {
        font-family: 'Alegreya Sans SC', sans-serif;
        color: #404040;
        font-size: 1.6rem;
        margin-left: 70px;
        float: left;
      }
      hr {
        width: 95%;
        margin-right: 0;
      }
      p.sabtitle-en {
        font-family: 'Alegreya Sans SC', sans-serif;
        color: #404040;
        font-size: 1.2rem;
        position: absolute;
        left: 70px;
        top: 50px;
      }
      p.sabtitle-ja {
        font-family: 'HCo Gotham', sans-serif;
        color: #404040;
        font-size: 0.8rem;
        position: absolute;
        left: 220px;
        top: 50px;
      }
      .movie-list {
        @include size(300px, 100%, 0);  
        margin-bottom: 70px;
        li {
          @include size(100%, 95%, 0);
          border: 1px solid #a1a1a1;
          margin: auto;
          margin-top: 50px;
          border-radius: 10px;
          list-style: none;
        }
      }
      .movie-lists {
        p.sabtitle-en1 {
          font-family: 'Alegreya Sans SC', sans-serif;
          color: #404040;
          font-size: 1.2rem;
          position: absolute;
          left: 130px;
          top: 420px;
        }
        p.sabtitle-ja1 {
          font-family: 'HCo Gotham', sans-serif;
          color: #404040;
          font-size: 0.8rem;
          position: absolute;
          left: 230px;
          top: 420px;
        }
        .movie-box {
          height: 500px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          max-width: 1200px;
          margin: auto;
          li {
            @include size(400px, 280px, 0);
            border-radius: 10px;
            border: 1px solid #a1a1a1;
          }
          .effect-scale {
            overflow: hidden;
            border-radius: 10px 10px 0 0 / 10px 10px 0 0;
            .effect-color {
            background: linear-gradient(to top, #91c2f0 0%, #fcfafa 0%, #c9ffbf 100%);
            img {
              @include size(100%, 100%, 0);
              object-fit: cover;
              border-radius: 10px 10px 0 0 / 10px 10px 0 0;
              opacity: 1;
              transform: scale(1);
              -webkit-transition: .3s ease-in-out;
              transition: .3s ease-in-out;
            }
            img:hover {
              opacity: .9;
              transform: scale(1.1);
            }
           }
         } 
        }
      }
    }
    .book {
      title {
        font-family: 'Alegreya Sans SC', sans-serif;
        color: #404040;
        font-size: 1.6rem;
        margin-left: 70px;
        float: left;
      }
      hr {
        width: 95%;
        margin-right: 0;
      }
      p.sabtitle-en {
        font-family: 'Alegreya Sans SC', sans-serif;
        color: #404040;
        font-size: 1.2rem;
        position: absolute;
        left: 70px;
        top: 50px;
      }
      p.sabtitle-ja {
        font-family: 'HCo Gotham', sans-serif;
        color: #404040;
        font-size: 0.8rem;
        position: absolute;
        left: 210px;
        top: 50px;
      }
      .book-list {
        @include size(300px, 100%, 0);  
        margin-bottom: 70px;
        li {
          @include size(100%, 95%, 0);
          border: 1px solid #a1a1a1;
          margin: auto;
          margin-top: 50px;
          border-radius: 10px;
          list-style: none;
        }
      }
      .book-lists {
        p.sabtitle-en1 {
          font-family: 'Alegreya Sans SC', sans-serif;
          color: #404040;
          font-size: 1.2rem;
          position: absolute;
          left: 130px;
          top: 420px;
        }
        p.sabtitle-ja1 {
          font-family: 'HCo Gotham', sans-serif;
          color: #404040;
          font-size: 0.8rem;
          position: absolute;
          left: 230px;
          top: 420px;
        }
        .movie-box {
          height: 500px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          max-width: 1200px;
          margin: auto;
          li {
            @include size(400px, 280px, 0);
            border-radius: 10px;
            border: 1px solid #a1a1a1;
          }
          .effect-scale {
            overflow: hidden;
            border-radius: 10px 10px 0 0 / 10px 10px 0 0;
            .effect-color {
            background: linear-gradient(to top, #91c2f0 0%, #fcfafa 0%, #c9ffbf 100%);
            img {
              @include size(100%, 100%, 0);
              object-fit: cover;
              border-radius: 10px 10px 0 0 / 10px 10px 0 0;
              opacity: 1;
              transform: scale(1);
              -webkit-transition: .3s ease-in-out;
              transition: .3s ease-in-out;
            }
            img:hover {
              opacity: .9;
              transform: scale(1.1);
            }
           }
         } 
        }
      }
    }
  }
}
