html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #262626;
}

* {
  box-sizing: border-box;
}

.box {
  display: block;
}

@mixin size($height, $width, $padding) {
  height: $height;
  width: $width;
  padding: $padding;
}

@mixin color($backgroundcolor, $color) {
  background-color: $backgroundcolor;
  color: $color;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.account-page {
  @include size(100%, 100%, 0);
  #top-header {
    @include size(200px, 100%, 0);
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0;
    .title {
      width: 100%;
      font-size: 2.2rem;
      text-align: center;
    }
    .line1 {
      transform: skewY(-12deg);
    }
    .line2 {
      margin-bottom: 80px;
      transform: skewY(-5deg);
    }
    .sign {
      width: 100%;
      font-size: 1.7rem;
      text-align: center;
    }
  }
  &__inner {
    @include size(100%, 100%, 0);
    margin-bottom: 50px;
    .new_user {
      @include size(800px, 600px, 30px 0);
      margin: auto;
      .field {
        @include size(100px, auto, 0);
        text-align: center;
        font-size: 1.2rem;
    
        &-label {
         margin-bottom: 10px;
        }
        &-input {
          input {
            @include size(40px, 300px, 0);
            padding: 10px;
          }
        }
        input:focus {
          outline: none;
        }
      }
      .actions {
        text-align: center;
        .btn {
          @include size(50px, 60%, 0);
          display: block;
          font-size: 1rem;
          font-weight: bold;
          margin:0 auto;
          margin-bottom: 20px;
          background-color: #a7d28d;
          border-radius: 5px;
          color: white;
          cursor: pointer;
        }
        .btn:hover {
          background-color: #79c06e;
        }
        li {
          list-style: none;
          margin-bottom: 10px;
          .actions-list {
            font-size: 0.8rem;
            color: #262626;
            text-decoration: none;
          }
          .actions-list:hover {
            text-decoration: underline;
            color: #a2a2a2;
          }
        }
      } 
      .login {
        text-align: center;
        .btn {
          font-family: 'HCo Gotham', sans-serif;
          font-size: 0.8rem;
          color: #262626;
          text-decoration: none;
        }
        .btn:hover {
          text-decoration:underline;
          color: #a2a2a2;
        } 
      }
    }
  }
}