html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

.box {
  display: block;
}

@mixin size($height, $width, $padding) {
  height: $height;
  width: $width;
  padding: $padding;
}

@mixin color($backgroundcolor, $color) {
  background-color: $backgroundcolor;
  color: $color;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.wrapper {
  animation: fadeIn 5s ease 0s 1 normal;
  -webkit-animation: fadeIn 5s ease 0s 1 normal;
  
  .bottom-main {
    @include size(100%, 100%, 0);
    .fade {
      opacity : 0;
      transform : translate(0, 100px);
      transition : all 1s;
    }
    .fade.fade-up{
      opacity : 1;
      transform : translate(0, 0);
    }
    .news1 {
      &-list {
        margin-bottom: 70px;
        margin: auto;
        li {
          margin: auto;
          margin-top: 50px;
          .new-news {
            list-style: none;
            position: relative;
            img {
              @include size(450px, 98%, 0);
              object-fit: cover;
              opacity: 1;
            }
            img:hover {
              opacity: .7;
              background: linear-gradient(to top, #e2e4e7 0%, #f3f0f0 0%, #e7eee6 100%);
              -webkit-transition: all 0.5s ease; /* ふわっと表示 */
              -moz-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              transition: all  0.5s ease;
            }
            .news-message {
             @include size(80px, 98%, 15px);
             background-color: rgba($color: #000000, $alpha: 0.5);
             position: absolute;
             bottom: 0;
             color: white;
            }
          }
        }
      } 
    }
    .news2 {
     display: flex;
     justify-content: center;
     margin-top: 150px;
      &-lists {
        width: 50%;
        margin-bottom: 40px;
        .news-title {
          text-align: center;
          margin-bottom: 10px;
          font-size: 1.5rem;
          color: #5e5e5e;
         }
         hr {
          width: 6%;
          text-align: center;
        }
        .news-box {
          height: 300px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          li {
            @include size(300px, 220px, 0);
            position: relative;
            opacity: 1;
            a {
              text-decoration: none;
            }
            .effect-scale {
              overflow: hidden;
              .effect-color {
                background: linear-gradient(to top, #91c2f0 0%, #f3f0f0 0%, #e7eee6 100%);
                img {
                  @include size(200px, 220px, 0);
                  object-fit: cover;
                  transform: scale(1);
                  -webkit-transition: .3s ease-in-out;
                  transition: .3s ease-in-out;
                }
                img:hover {
                  transform: scale(1.1);
                }
                .news-message {
                  @include size(30%, 100%, 0);
                  padding: 0 5px;
                  position: absolute;
                  right: 0;
                  &_text {
                    font-size: 0.8rem;
                    color: #5e5e5e;
                  }
                }
              }
            } 
          }
          li:hover {
            opacity: .7;
            -webkit-transition: all 0.5s ease; /* ふわっと表示 */
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all  0.5s ease;
          }
        }
        .more {
          @include size(40px, 300px, 10px 0);
          background-color: white;
          list-style: none;
          text-align: center;
          margin: auto;
          border: 0.8px solid #5e5e5e;
          a {
            text-decoration: none;
            color: #5e5e5e;
            letter-spacing: .2em;
          }
        }
        .more:hover {
          background-color: #e3acae;
          border: none;
          -webkit-transition: all 0.5s ease; /* ふわっと表示 */
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all  0.5s ease;
          a {
            color: #fff;
          }
        }
      }
      .ranking-lists {
        margin-left: 30px;
        width: 25%;
        float: right;
        p {
          color: #5e5e5e;
          font-size: 1.5rem;
          text-align: center;
          margin-top: 2px;
        }
        hr {
          width: 15%;
          text-align: center;
        }
        li {
          @include size(130px, 100%, 0);
          list-style: none;
          margin-bottom: 10px;
          border-bottom: 1px solid #a0a0a0;
          position: relative;
          opacity: 1;
          span {
            @include size(30px, 30px, 0);
            background-color: #e3acae;
            color: #fff;
            text-align: center;
            line-height: 30px;
            position: absolute;
            top: 10px;
            z-index: 1;

          }
          .ranking-lists_1 {
            display: block;
            text-decoration: none;
            .news_image {
              @include size(110px, 35%, 0);
              margin-top: 10px;
              background-color: #454545;
              float: left;
              img {
                @include size(110px, 100%, 0);
                object-fit: cover;
              }
            }
            p {
              @include size(50px, 60%, 0);
              padding-left: 5px;
              margin-top: 50px;
              font-size: 0.8rem;
              float: right;
            }
          }
        }
        li:hover {
          opacity: .7;
          -webkit-transition: all 0.5s ease; /* ふわっと表示 */
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all  0.5s ease;
        }
      }
    }
  }
  .footer {
    clear: both;
    @include size(300px, 100%, 0);
    margin-top: 80px;
    color: #404040;
    position: relative;
    hr {
      color: #a1a1a1;
    }
    &-list {
      font-family: 'HCo Gotham', sans-serif;
      display: flex;
      justify-content: space-between;
      max-width: 700px;
      margin: auto;
      margin-top: 30px;
      .guide, .user, .company {
        p {
          font-size: 0.8rem;
          margin-bottom: 20px;
          font-weight: bold;
        }
        li {
          list-style: none;
          text-align: center;
          a {
            text-decoration: none;
            color: #454545;
            font-size: 0.7rem;
          }
        }
        a:hover {
          color: #a1a1a1;
        }
      }
    }
    &-com {
      position: absolute;
      bottom: 10px;
      left: 48%;
      .title {
        font-size: 1.3rem;
      }
      .text {
        font-size: 0.6rem;
        font-family: 'HCo Gotham', sans-serif;
        text-align: center;
      }
    }
  }
}
