.wrapper {
  animation: fadeIn 5s ease 0s 1 normal;
  -webkit-animation: fadeIn 5s ease 0s 1 normal;
  .top-mine {
    height: 100%;
    width: 100%;
    margin-bottom: 70px;
    position: relative;
    .search_form {
      position: absolute;
      top: 15px;
      left:  140px;
      .text_field {
        width: 100px;
        height: 30px;
        padding-left: 5px;
        transition: all .6s;
        -webkit-transition: all .6s;
        -moz-transition: all .6s;
        position: relative;
        border:none;
        border-bottom: 0.5px solid #5e5e5e;
        
      }
      .button {
        position: absolute;
        top: 5px;
        right: 5px;
        border: none;
        cursor: pointer;
        .icon {
          i {
            font-size: 1.1rem;
          }
        }
      }
      .text_field:focus {
        width: 250px;
        outline: none;
        border: 1px solid #5e5e5e;
        background:none;
      }
    }
    .category-list {
      height: auto;
      z-index: 2;
      .title {
        text-align: center;
        width: 100%;
        font-family: 'Alegreya Sans SC', sans-serif;
        color: #192f60;
        font-size: 3rem;
        margin-top: 30px;
      }
      #top-header {
        width: 100%;
        height: 60px;
        padding-left: 5px;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        ul {
          display: flex;
          justify-content: space-between;
          max-width: 1000px;
          margin: auto;
          li {
            text-align: center;
            height: 40px;
            width: 120px;
            position: relative;
            font-size: 0.6rem;
            color: white;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all  0.3s ease;
            .menu {
              color: #404040;
              text-decoration: none;
              font-size: 1.3rem;
              text-decoration: none;
              -webkit-transition: all 0.3s ease; /* ふわっと表示 */
              -moz-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all  0.3s ease;
              position: relative; /* アンダーラインのanimate */
              display: inline-block;
            }
            .menu::after{
              position: absolute;
              bottom: -4px;
              left: 0;
              content: '';
              width: 100%;
              height: 2px;
              background: #d9aacd;
              transform: scale(0, 1);
              transform-origin: center top;
              transition: transform .3s;
            }
            .menu:hover::after{
              transform: scale(1, 1);
            }
            .menu:hover {
              color: #d9aacd;
            }
          }
          li:hover {
            color: #d9aacd;
          }
        }
      }
      #top-header.scrolled {
        background: rgba($color: rgb(100, 99, 99), $alpha: 0.7);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        .menu {
          color: white;
        }
        .menu::after{ 
          display: none;
        }
        li:hover {
          color: #d9aacd;
        }
      }
      .share {
        p {
          writing-mode: vertical-rl;
          font-size: 1rem;
          position: absolute;
          right: 20px;
          top: 400px;
          color: #192f60;
        }
        ul {
          position: absolute;
          right: 20px;
          top: 470px;
          li {
            list-style: none;
          }
          i {
            color: #192f60;
            font-size: 1.3rem;
            margin-bottom: 15px;
          }
          .twitter:hover {
            color: #55acee;
          }
          .facebook:hover {
            color: #315096;
          }
          .instagram:hover {
            color:  #9941D8;
          }
        }
      }
    }
    .hamburger {
      nav {
        font-family: 'HCo Gotham', sans-serif;
        height: 100%;
        width: 100%;
        background: rgba($color: #a4c1d7, $alpha: 0.5);
        position: fixed;
        top: 0;
        z-index: 2;
        transform: translateY(-100%);
        transition: all 1.0s;
        text-align: center;
        hr {
          border: 0.5px solid white;
        }
        .text1 {
          font-size: 1.2rem;
          margin-top: 200px;
          color: white;
        }
        .text2 {
          font-size: 0.8rem;
          margin-top: 10px;
          color: white;
        }
        ul {
          width: 100%;
          position: absolute;
          top: 40%;
          li {
            margin-bottom: 30px;
            .menu-list {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
      nav.global-nav.active {
        transform: translateY(0%);
      }
      .hamburger-btn {
        display: block;
        position: fixed;
        z-index: 3;
        right: 20px;
        top: 12px;
        width: 38px;
        height: 42px;
        cursor: pointer;
        span {
          display: block;
          position: absolute;
          left: 6px;
          border-bottom: solid 2px #192f60;
          -webkit-transition: .45s ease-in-out;
          -moz-transition: .45s ease-in-out;
          transition: .45s ease-in-out;
        }
        span:nth-child(1) {
          top: 9px;
          width: 30px;
        }
        span:nth-child(2) {
          top: 18px;
          width: 25px;
        }
        span:nth-child(3) {
          top: 27px;
          width: 27px;
        }
      }
      .hamburger-btn.active span:nth-child(1) {
        top: 18px;
        left: 6px;
        width: 30px;
        border-bottom: solid 3px white;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      .hamburger-btn.active span:nth-child(2), .hamburger-btn.active span:nth-child(3) {
        top: 18px;
        width: 30px;
        border-bottom: solid 3px white;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}