#navArea
  %nav
    .inner
      %ul
        %li.inner-edit
          %a{href: "#"}
            町のケーキ屋さんの思い
        %li.inner-edit
          %a{href: "#"}
            予約する
        %li.inner-edit
          %a{href: "#"}
            予約履歴
        %li.inner-edit
          %a{href: "#"}
            ケーキ検索
        %div.inner-edit
          -if user_signed_in?
            %li.inner-edit.user-nav
              =link_to "ログアウト", destroy_user_session_path, method: :delete, class: "inner_edit_link" 
            %li.inner-edit.user-nav
              =link_to "アカウント編集", edit_user_path(current_user), class: "inner_edit_link" 
          -else
            %li.inner-edit
              =link_to "ログイン", new_user_session_path, class: "inner-edit_link" 
            %li.inner-edit
              =link_to "新規登録", new_user_registration_path, class: "inner-edit_link" 
              
                
  .toggle_btn
    %span
    %span
    %span
  #mask
  %main
    =image_tag 'brooke-lark-ZkgWJ4BfgsE-unsplash.jpg', alt: '', height: '100%', width: '100%', class: 'main__image'
    %p
      あなたを笑顔にするスイーツ。
    .main-top
      =link_to "#" do
        =icon('fas','globe')  

